name: Quality checks

on: [ push ]

jobs:

  validate-shell:
    name: Validate shell
    runs-on: ubuntu-latest
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v2
      - 
        name: Install ShellCheck
        run: sudo apt-get update -y && sudo apt-get install -y shellcheck
      -
        name: Lint shell scripts
        run: find . -name "*.sh" | xargs shellcheck --external-sources
  
  validate-docs:
    name: Validate markdown & yaml files
    runs-on: ubuntu-latest
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      -
        name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      -
        name: Install dependencies
        run: npm ci
      -
        name: Lint yaml
        run: npm run lint:yaml
      -
        name: 'Validate md: Relative URLs'
        run: npm run lint:md:relative-urls
      -
        name: 'Validate md: Enforce standards'
        run: npm run lint:md
      -
        name: 'Validate md: Ensure consistency'
        run: npm run lint:md:consistency
